html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Cross browser solution to remove scrollbar but still be able to scroll */
* {
    /* IE 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}
::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}

* {
    transition: all 0.1s ease-in-out !important;
}

.navbar-brand .navbar-item:hover {
    color: #ff3860 !important;
}

.navbar-item {
    color: #000;
    font-weight: 500;
}

.navbar-item:hover {
    color: #ff3860 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.hero-body {
    padding-top: 4rem !important;
}

#home {
    background-image: url("/images/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#home .subtitle {
    letter-spacing: 4px;
    padding-top: 10px;
    color: #fff;
}

.fas.fa-male {
    color: #fff;
    padding: 1px;
}
